.footer {
    background-color: #022739;
    margin-top: 90px;
    font-family: "Poppins", sans-serif;
  }
  .footer .Follow {
    margin-bottom: 27px;
  }
  .footer .Follow h3 {
    color: #fff;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
    border-width: 1px;
    display: inline-block;
    padding-bottom: 2px;
    padding-bottom: 27px;
  }
  .footer span {
    font-size: 17px;
    display: block;
    color: #fff;
  }
  .footer ul {
    list-style: none;
  }
  ul.link li a {
    color: #fff;
    font-size: 17px;
  }
  ul.link li a:hover {
    color: #878686;
  }
  .footer .Newsletter {
    padding: 13px 26px;
    padding-top: 10px;
    padding-right: 26px;
    padding-bottom: 10px;
    padding-left: 15px;
    border: #fff solid 1px;
    width: 100%;
    margin-bottom: 15px;
  }
  .footer .Subscribe {
    padding: 10px 30px;
    border: #0e0c0c solid 1px;
    background: #0e0c0c;
    color: #fff;
    float: right;
  }
  .footer .Subscribe:hover {
    color: #fff;
    background-color: #15cfe5;
  }
  
  .pdn-top-30 {
    padding-top: 35px;
  }
  ul.location_icon {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
  }
  ul.location_icon li {
    float: left;
    height: 70px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 20px;
  }
  ul.location_icon li:last-child {
    padding-right: 0px;
  }
  ul.location_icon li a {
    margin-bottom: 23px;
  }
  ul.location_icon span {
    font-size: 17px;
    font-weight: 400;
  }
  .copyright {
    padding: 10px 0px 30px 0;
  }
  .copyright p {
    color: #fff;
    font-size: 16px;
    text-align: center;
    max-width: 594px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding-top: 10px;
    border-top: #807d7d solid 1px;
  }
  .copyright a {
    color: #fff;
  }
  .copyright a:hover {
    color: #15cfe5;
  }
  
  .textarea {
    padding: 6px 0px 0px 19px;
    color: #655f5f !important;
    width: 100%;
    border: #b1b0b0 solid 1px;
    height: 65px;
    margin-bottom: 20px;
  }